.product
	= radio_button_tag 'product', product.id
	= product.name
	= image_tag "/images/products/#{product.name}.png", 
	            :alt => product.name, :height => 100, :width => 100
	%ul
		- product.printable_area_names.each do |a|
			%li= radio_button_tag("product_#{product.id}_printable_area", a ) + a
